## WORLD DATABASE SQL Queries

In [3]:
import pandas as pd
from sqlalchemy import create_engine
import pymysql
pymysql.install_as_MySQLdb()

username = "root"
password = "root"

connection = f'mysql+pymysql://{username}:{password}@localhost/world'
engine = create_engine(connection)

In [4]:
q = '''SHOW TABLES;'''
pd.read_sql(q,engine)

  Tables_in_world
0          cities
1       countries
2       languages

1. What query would you run to get all the countries with a Surface Area below 501 and a Population greater than 100,000? Include the country name, surface area, and population in your results.

In [5]:
q = '''
SELECT c.name, c.surface_area, c.population 
FROM countries as c
WHERE c.surface_area < 501 AND c.population > 100000;
'''
pd.read_sql(q,engine)

                               name  surface_area  population
0                             Aruba         193.0      103000
1                          Barbados         430.0      270000
2                             Macao          18.0      473000
3                          Maldives         298.0      286000
4                             Malta         316.0      380200
5                           Mayotte         373.0      149000
6  Saint Vincent and the Grenadines         388.0      114000

2. What query would you run to get countries with only a Constitutional Monarchy with a capital greater than 200 and a life expectancy greater than 75 years? Include the country name, form of government, and capital in your results

3. What query would you run to summarize the number of countries in each region? The query should display the name of the region and the number of countries. Also, the query should arrange the result by the number of countries in descending order.

4. What query would you run to get all the countries that speak Slovene? Your query should return the name of the country, language, and language percentage. Your query should arrange the result by language percentage in descending order.

5. What query would you run to display the total number of cities for each country? Your query should return the name of the country and the total number of cities. Your query should arrange the result by the number of cities in descending order.

6. What query would you run to get all the cities in Mexico with a population of greater than 500,000? Your query should arrange the result by population in descending order.

7. What query would you run to get all languages in each country with a percentage greater than 89%?  Include the country name, language, and percentage.  Your query should arrange the result by percentage in descending order.

8. What query would you run to get all the cities of Argentina inside the Buenos Aires district and have a population greater than 500, 000? The query should return the Country Name, City Name, District, and Population.